html {
    cursor: url(../pics/sprites/pointer_grey.png), auto;
    font-family: 'Inconsolata', monospace;
}

audio {
    position: absolute;
    top: 290px;
    /* it will have to be deleted */
}

body {
    width: 640px;
    height: 480px;
    background-image: url(../pics/FRAME.png);
    background-repeat: no-repeat;
    position: relative;
}

.game {
    user-select: none;
}

.menu__list {
    padding: 10px;
    position: absolute;
    top: -6px;
    left: 100px;
}

.menu__item {
    list-style: none;
    /* background-color: #ff000000; */
    width: 294px;
    height: 37px;
    margin: 10px;
}

.game {
    display: flex;
    flex-wrap: wrap;
}

#video {
    position: relative;
    top: 18px;
    left: 52px;
}

#audio {
    width: 0;
}

#inventory {
    position: absolute;
    top: 338px;
    left: 438px;
}

#inventoryVideo {
    width: 150px;
    height: 123px;
}


.activesides {
    /* background-color: #ffffff40; */
    height: 292px;
    width: 50px;
    position: absolute;
    top: 0;
    z-index: 2;
}

.activerightside {
    left: 486px;
    cursor: url(../pics/sprites/glass_blue.png), e-resize;
}

.activeleftside {
    cursor: url(../pics/sprites/glass_blue.png), w-resize;
}

.game__scene {
    cursor: url(../pics/sprites/glass_grey.png), auto;
}

.active__point {
    cursor: url(../pics/sprites/pointer_red.png), auto;
}

::-webkit-scrollbar {
    width: 33px;
}

::-webkit-scrollbar-track {
    height: 100px;
}

::-webkit-scrollbar-thumb {
    background: url(../pics/sprites/crystal.png) no-repeat;
    height: 58px;
}

::-webkit-scrollbar-thumb:hover {
    background: url(../pics/sprites/crystal.png) no-repeat;
    cursor: url(../pics/sprites/open_hand.png), ns-resize;
}

.phone_numbers_list {
    color: #848484;
    font-size: 12px;
}

.game__dialogue {
    position: absolute;
    left: 52px;
    top: 338px;
    background-color: #000000;
    height: 123px;
    width: 284px;
    padding: 0 25px;
}

.dialogue__character {
    color: #777777;
    padding-right: 25px;
}

.dialogue__options {
    color: #a5a5a5;
    padding-right: 25px;
}

.dialogue__options:hover {
    color: #dfdfdf;
}

#wholedialogue {
    height: 100%;
    overflow-y: scroll;
    position: absolute;
    margin-right: -42px;
}

.activelocationspot div {
    /* background-color: #37ff0066; */
    position: absolute;
}

.arrowdown {
    /* background-color: #b3e77b66; */
    position: absolute;
    cursor: url(../pics/sprites/arrow_down.png), pointer;
}

.arrowup {
    /* background-color: #b3e77b66; */
    position: absolute;
    cursor: url(../pics/sprites/arrow_up.png), pointer;
}

.slightlyleftpointer {
    cursor: url(../pics/sprites/slightly_left.png), nw-resize;
}

.backpointer {
    cursor: url(../pics/sprites/back_away.png), s-resize;
    /* background-color: #d1c73d66; */
    position: absolute;
}

.redmagnifying {
    cursor: url(../pics/sprites/glass_red.png), zoom-in;
    /* background-color: #506c3866; */
    position: absolute;
}

#talkToRalph {
    cursor: url(../pics/sprites/glass_red.png), zoom-in;
}

.activemapspot {
    /* background-color: #4000ff66; */
    position: absolute;
    cursor: url(../pics/sprites/glass_red.png), pointer;
}
