html {
    cursor: url(../pics/sprites/pointer_grey.png), auto;
    font-family: 'Inconsolata', monospace;
}

#game_music {
    position: absolute;
    top: 481px;
    left: 3px;
    /* it will have to be deleted */
}

audio {
    position: absolute;
    /* it will have to be deleted */
}

#inventoryclicksound {
    top: 290px;
    left: -100px;
    /* it will have to be deleted */
}

.SoundOfVoice {
    top: 536px;
}

.SoundEffects {
    top: 100px;
    left: 335px;
}

body {
    width: 640px;
    height: 480px;
    background-image: url(../pics/FRAME.png);
    background-repeat: no-repeat;
    position: relative;
}

#menu {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
}

.settings_screen {
    width: 640px;
    height: 480px;
    background-image: url(../pics/SETTINGS.png);
    background-repeat: no-repeat;
    position: relative;
}

.game {
    user-select: none;
}

.game__menu {
    position: absolute;
    background-color: #777777d6;
    width: 39px;
    height: 73px;
    left: 5px;
    top: 41px;
    border-radius: 50%;
}

.menu__list {
    padding: 10px;
    position: absolute;
    top: 5px;
    left: 100px;
}

.menu__item {
    list-style: none;
    background-color: #ffffff4f;
    width: 294px;
    height: 23px;
    margin: 24px;
}

.active__point {
    cursor: url(../pics/sprites/pointer_red.png), pointer;
}

.arrowdown {
    position: absolute;
    background-color: #6aa2e24f;
    cursor: url(../pics/sprites/arrow_down.png), pointer;
}

.arrowup {
    position: absolute;
    background-color: #60db3b4f;
    cursor: url(../pics/sprites/arrow_up.png), pointer;
}

.game {
    display: flex;
    flex-wrap: wrap;
}

#video {
    position: relative;
    top: 18px;
    left: 52px;
}

#audio {
    width: 0;
}

#inventory {
    position: absolute;
    top: 338px;
    left: 438px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 183px;
    height: 123px;
    padding-right: 9px;
}

.inventory_open_gif,
.inventory_close_gif {
    position: absolute;
}

.activesides {
    background-color: #ffffff40;
    height: 292px;
    width: 50px;
    position: absolute;
    top: 0;
    z-index: 2;
}

.activerightside {
    left: 486px;
}

::-webkit-scrollbar {
    width: 33px;
}

::-webkit-scrollbar-track {
    height: 100px;
}

::-webkit-scrollbar-thumb {
    background: url(../pics/sprites/crystal.png) no-repeat;
    height: 58px;
}

::-webkit-scrollbar-thumb:hover {
    background: url(../pics/sprites/crystal.png) no-repeat;
    cursor: url(../pics/sprites/open_hand.png), ns-resize;
}

.phone_numbers_list {
    color: #848484;
    font-size: 12px;
}

.game__dialogue {
    position: absolute;
    left: 52px;
    top: 338px;
    background-color: #000000;
    height: 123px;
    width: 284px;
    padding: 0 25px;
}

.dialogue__character {
    color: #7b9c9c;
    padding-right: 25px;
}

.dialogue__options {
    color: #bdc6c6;
    padding-right: 25px;
}

.dialogue__options:hover {
    color: #cfd7d7;
}

#wholedialogue {
    height: 100%;
    overflow-y: scroll;
    position: absolute;
    margin-right: -42px;
}

.activelocationspot div {
    background-color: #37ff0066;
    position: absolute;
}

.greymagnifying {
    background-color: #cf10105b;
    height: 292px;
    width: 50px;
    position: absolute;
    top: 0;
    z-index: 3;
}

.greymagnifyingleft {
    left: 0px;
}

.greymagnifyingright {
    left: 486px;
}

.backpointer {
    cursor: url(../pics/sprites/back_away.png), s-resize;
    background-color: #d1c73d66;
    position: absolute;
}

.theendpointer {
    cursor: url(../pics/sprites/theend.png), not-allowed;
    background-color: #71474766;
    position: absolute;
}

.redmagnifying {
    background-color: #506c3866;
    position: absolute;
}

.volume_slider {
    position: absolute;
    width: 90px;
    -webkit-appearance: none;
    background: none;
}

.volume_slider__voice {
    top: 57px;
    left: 144px;
}

.volume_slider__music {
    top: 104px;
    left: 144px;
}

.volume_slider__effects {
    top: 151px;
    left: 146px;
}

.volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: url("../pics/sprites/sound_toggle.png");
    width: 13px;
    height: 12px;
    background-repeat: no-repeat;
    margin-left: 2px;
    margin-top: 2px;
}

#gameSetupScreen {
    position: absolute;
    top: 0;
}

.backToMainMenuFromSettings {
    position: absolute;
    top: 374px;
    left: 197px;
    width: 210px;
    height: 38px;
    background-color: #00000077;
}

.inventory__place {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    background-color: #000000;
    width: 150px;
    height: 123px;
    padding-top: 3px;
}

.inventory__keys {
    background: url("../pics/sprites/apartment_keys_in_inventory.png");
    background-repeat: no-repeat;
    width: 69px;
    height: 57px;
}

.inventory__keys:hover {
    background: url("../pics/sprites/apartment_keys_in_inventory_hover.png");
}

.inventory__visitors_pass {
    background: url("../pics/sprites/visitorspassinside.png");
    background-repeat: no-repeat;
    width: 69px;
    height: 57px;
}

.inventory__visitors_pass:hover {
    background: url("../pics/sprites/visitorspassinsidehover.png");
}

.inventory__remote_control {
    background: url("../pics/sprites/remote.png");
    background-repeat: no-repeat;
    width: 69px;
    height: 57px;
}

.inventory__remote_control:hover {
    background: url("../pics/sprites/remotehover.png");
}

.preload_images {
    width: 0;
    height: 0;
    background: url(../pics/MAIN_MENU_1.png),
                url(../pics/MAIN_MENU_2.png),
                url(../pics/mattie-default.png),
                url(../pics/ME0N_0.png),
                url(../pics/SETTINGS.png),
                url(../pics/FRAME.png),
                url(../pics/emptyinventory.png),

                url(../pics/apartment/MD1P_0.webp),
                url(../pics/apartment/MD1R_0.webp),
                url(../pics/apartment/MD1S_0.webp),
                url(../pics/apartment/MD1T_0.webp),
                url(../pics/apartment/md1z_0.webp),
                url(../pics/apartment/MD3A_0.webp),
                url(../pics/apartment/MD3C_0.webp),
                url(../pics/apartment/MD3E_0.webp),
                url(../pics/apartment/MD3G_0.webp),
                url(../pics/apartment/MD3N_0.webp),
                url(../pics/apartment/MD3O_0.webp),
                url(../pics/apartment/MD3P_0.webp),
                url(../pics/apartment/MD3Q_0.webp),
                url(../pics/apartment/MD3R_0.webp),
                url(../pics/apartment/MD3S_0.webp),
                url(../pics/apartment/MD3T_0.webp),
                url(../pics/apartment/MD3U_0.webp),
                url(../pics/apartment/MD3V_0.webp),
                url(../pics/apartment/MD3W_0.webp),
                url(../pics/apartment/MD3Y_0.webp),
                url(../pics/apartment/MD6A_0.webp),
                url(../pics/apartment/MD6B_0.webp),
                url(../pics/apartment/MD6E_0.webp),
                url(../pics/apartment/MD6F_0.webp),
                url(../pics/apartment/MD6G_0.webp),
                url(../pics/apartment/MD6H_0.webp),
                url(../pics/apartment/MD6I_0.webp),
                url(../pics/apartment/MD6J_0.webp),
                url(../pics/apartment/MD6K_0.webp),
                url(../pics/apartment/MD6L_0.webp),
                url(../pics/apartment/MD6M_0.webp),
                url(../pics/apartment/MD6N_0.webp),
                url(../pics/apartment/MD6O_0.webp),
                url(../pics/apartment/MD6P_0.webp),
                url(../pics/apartment/MD6Q_0.webp),
                url(../pics/apartment/MD6R_0.webp),
                url(../pics/apartment/MD6S_0.webp),
                url(../pics/apartment/MD6T_0.webp),
                url(../pics/apartment/MD6U_0.webp),
                url(../pics/apartment/MD6V_0.webp),
                url(../pics/apartment/MD6W_0.webp),
                url(../pics/apartment/MD6X_0.webp),
                url(../pics/apartment/MD6Y_0.webp),
                url(../pics/apartment/MD6Z_0.webp),
                url(../pics/apartment/MD7C_0.webp),
                url(../pics/apartment/MD7D_0.webp),
                url(../pics/apartment/MD8A_0.webp),
                url(../pics/apartment/MD8B_0.webp),
                url(../pics/apartment/MD8C_0.webp),
                url(../pics/apartment/MD9F_0.webp),
                url(../pics/apartment/MD9G_0.webp),
                url(../pics/apartment/MD9V_0.webp),
                url(../pics/apartment/ME1A_0.webp),
                url(../pics/apartment/ME1E_0.webp),
                url(../pics/apartment/ME1H_0.webp),
                url(../pics/apartment/ME1L_0.webp),
                url(../pics/apartment/ME1M_0.webp),
                url(../pics/apartment/ME1N_0.webp),
                url(../pics/apartment/ME1O_0.webp),
                url(../pics/apartment/ME1P_0.webp),
                url(../pics/apartment/ME1S_0.webp),
                url(../pics/apartment/ME4A_0.webp),
                url(../pics/apartment/ME4B_0.webp),
                url(../pics/apartment/ME4C_0.webp),
                url(../pics/apartment/ME4D_0.webp),
                url(../pics/apartment/ME4F_0.webp),
                url(../pics/apartment/ME4K_0.webp),

                url(../pics/mattie_day_circle/ME1X_0.webp),
                url(../pics/mattie_day_circle/ME1X_1.webp),
                url(../pics/mattie_day_circle/ME1X_2.webp),
                url(../pics/mattie_day_circle/ME1X_3.webp),
                url(../pics/mattie_day_circle/ME1X_4.webp),
                url(../pics/mattie_day_circle/ME1X_5.webp),
                url(../pics/mattie_day_circle/ME1X_6.webp),
                url(../pics/mattie_day_circle/ME1X_7.webp),
                url(../pics/mattie_day_circle/ME1X_8.webp),
                url(../pics/mattie_day_circle/ME1X_9.webp),
                url(../pics/mattie_day_circle/ME1X_10.webp),
                url(../pics/mattie_day_circle/ME1X_11.webp),
                url(../pics/mattie_day_circle/ME1X_12.webp),
                url(../pics/mattie_day_circle/ME1X_13.webp),
                url(../pics/mattie_day_circle/ME1X_14.webp),
                url(../pics/mattie_day_circle/ME1X_15.webp),
                url(../pics/mattie_day_circle/ME1X_16.webp),
                url(../pics/mattie_day_circle/ME1X_17.webp),
                url(../pics/mattie_day_circle/ME1X_18.webp),
                url(../pics/mattie_day_circle/ME1X_19.webp),

                url(../pics/mattie-room_day_circle/MD1X_0.webp),
                url(../pics/mattie-room_day_circle/MD1X_1.webp),
                url(../pics/mattie-room_day_circle/MD1X_2.webp),
                url(../pics/mattie-room_day_circle/MD1X_3.webp),
                url(../pics/mattie-room_day_circle/MD1X_4.webp),
                url(../pics/mattie-room_day_circle/MD1X_5.webp),
                url(../pics/mattie-room_day_circle/MD1X_6.webp),
                url(../pics/mattie-room_day_circle/MD1X_7.webp),
                url(../pics/mattie-room_day_circle/MD1X_8.webp),
                url(../pics/mattie-room_day_circle/MD1X_9.webp),
                url(../pics/mattie-room_day_circle/MD1X_10.webp),
                url(../pics/mattie-room_day_circle/MD1X_11.webp),
                url(../pics/mattie-room_day_circle/MD1X_12.webp),
                url(../pics/mattie-room_day_circle/MD1X_13.webp),
                url(../pics/mattie-room_day_circle/MD1X_14.webp),
                url(../pics/mattie-room_day_circle/MD1X_15.webp),
                url(../pics/mattie-room_day_circle/MD1X_16.webp),
                url(../pics/mattie-room_day_circle/MD1X_17.webp),
                url(../pics/mattie-room_day_circle/MD1X_18.webp),
                url(../pics/mattie-room_day_circle/MD1X_19.webp),

                url(../pics/map1.png); 
  }